*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-position: center;
    background-size: cover;
    position:absolute;
}

.fire-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fire-box::-webkit-scrollbar{
    width: 3px;
    height: 6px;
    background: #dadada;
}
.button-box{
    width:61%;
    margin:35px auto;
    position: relative;
    display: flex;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .6s;
}
.title{
    margin: 30px auto;
    text-align: center;
    font-weight: 600;
}

.input-group{
    top: 180px;
    position:absolute;
    width: 280px;
    transition: .5s;

}


.input-field{
    width: 100%;
    background-color: white;
    margin: 10px 0;
    padding: 5px;
}

.admin-password-field-login{
    border: 1px solid black;
    height: 30px;
    margin-top: 10px;
    background-color: #E8F0FE;
    border-radius: 3px;
}

#loginPassword{
    width: 90%;
    border: none;
    margin: 0;
    padding:0;
    height: 100%;
    border-style: none;
    outline: none;
    background-color: #E8F0FE;
    border: white;
}

.submit-btn{
    width: 100%;
    height: 31px;
    margin-top: 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 10px;
    cursor: pointer;
    

}

.submit-btn:hover{
     background: #ffad06;
}

#loginSub{
    margin-top: 50px;
}


#login{
    margin-top: 20px;
}











