.replyMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}

.replySenderEmail{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.replySenderEmail >.authoruser> label{
    font-weight: 600;
}

.replySenderEmail > div{
    margin-top: 20px;
}